/* magicBackground https://github.com/AvtreAB/magicBackground */

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-image: url('/path/to/backup-image.jpg'); /* Change this to your backup image. */
    background-size: cover;
    overflow: hidden;
}

.video-background.parallax {
    position: fixed !important;
}

.video-background video {
    display: none;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 768px) {

    .video-background video {
        display: block !important;
    }
}

.video-background.set-height video {
    width: auto;
    height: 100%;
}

.video-background.set-width video {
    width: 100%;
    height: auto;
}